#history-table{
    margin-top: 8%;
    margin-bottom: 45%;
}
.history-header{
    margin-top: 5%;
}

.tbl-container-outer{
    display: grid;
    justify-items: center;
    /* height: 100vh; */
}

.tbl-container-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
}

/* children dashboard */
.child-dashboard{
    display: flex;
}

.child-dashboard > p {
    margin-right: 5%;
    
    font-size: medium;
    color: black;
}

#dashboard-register-btn{
    /* margin-top: -6.5%; */
    margin-bottom: 1%;
    
}
.card > .card-header{
    font-size: 22px;
    background-color:rgb(238, 244, 244);
}
#dashboard-card{
    margin-top: 11% ;
    margin-bottom: 10%;
    min-height: 60vh;
}
#history-app-btn{
    justify-content: space-between; 

}

#history-app-btn >#history-btn{
margin-right: 3%;
}

#card-img-kid{
    max-width: 400px;
    max-height: 170px;
    border: 2px solid rgba(205, 195, 195, 0.682);
    border-radius: 50%;
    box-shadow: 6px 6px 10px gray;
    align-self: center;
    margin-top:-125px;
}

#card-body{ 
    margin-top: 20px;
}