.footer {
    padding: 6rem 3rem;
    background-color: #879898;
  }
  /* #37383d; */
  .footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  
  .footer__item {
    margin-right: 4rem;
  }
  
  .footer__link {
    font-size: 1.6rem;
    color: #110f0f;
    text-decoration: none;
  }

  .footer__link:hover {
    font-size: 1.6rem;
    color: aquamarine;
    text-decoration: none;
  }
  
  .footer__logo {
    height: 15rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  
  .footer__copyright {
    font-size: 1.4rem;
    color: #100e0e;
    text-align: center;
  }
  
  .footer__copyright .footer__link {
    font-size: 1.4rem;
  }

  #btn-rgt:hover{
    background-color: rgba(0, 255, 255, 0.647);
  }