
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
    color:rgb(97, 95, 95);
  }
  
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .nav__logo {
    height: 10rem;
    transition: all 0.3s;
  }
  
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav__item {
    margin-left: 4rem;
  }
.btn{
    font-size: 1.7rem;
}
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.9rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
  }
  #dropdown-btn{
    background-color: rgb(240, 240, 240);
    color : inherit;
    font-size: 180%;
    border: none;
  }
 
/* navbar links  */
  li:hover{
    color: black;
  }

  .appointment-link{
    text-decoration: none  !important;
    color: rgb(71, 67, 67);
  }

 