.schedule-header {
    margin-left: 10%;
    margin-bottom: 4%;
}

.vac-img {
    width: 80%;
    height: 330px;
    margin-left: 10%;
}

.description {
    margin-left: 10%;
    margin-top: 4%;
}

.desc-para {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 4%;
    font-size: 15px;
}

#accordionFlushExample {
    height: 70%;
    width: 120%;
    margin-top: 3%;
    margin-left: -9%;
    
    
    /* border-color:blue; */
}

#accordion--item {
    font-size: 110%
}

#accordian-button {
    font-size: 60%;
   

}

.accordion-header{
    font-size: 250%;
}