

:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #ffffff;
  }
  /* GENERAL ELEMENTS */
  .section {
    padding: 10rem 3rem;
    border-top: 1px solid #ddd;
  
    transition: transform 1s, opacity 1s;
  }
  
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
  
  .section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
  }
  
  .section__description {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }
  
  .section__header {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 500;
  }

 .features__feature> p {
    color: #666;
    font-size: 20px;
  }
  
 
  
  /* .lazy-img {
    filter: blur(5px);
  }
   */
  
  /* HEADER */
  .header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header__title {
    flex: 1;
    max-width: 115rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
    margin-top: 6%;
    align-items: start;
    justify-items: start;
  }
  
  #header-title {
    font-size: 6.5rem;
    line-height: 1.35;
    
    font-weight: bold;
  }
  
  h4 {
    
    font-weight: bold;
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  h5{
    font-size: 2rem;
    /* line-height: .35; */
    
  }
  .header__img {
    /* margin-top: 10%; */
    width: 80%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(-6rem);
  }
  
  .highlight {
    position: relative;
  }
  
  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
  }
  
  /* FEATURES */
  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 12rem;
  }
  .features__img {
    width: 90%;
    border-top-left-radius: 10%;
    border-bottom-right-radius : 10%;
  }
  
  .features__feature {
    align-self: center;
    justify-self: center;
    width: 70%;
    font-size: 1.5rem;
  }
  
  .features__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-opacity);
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  
  .features__icon svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-primary);
  }
  
  .features__header {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font:bolder;
  }
  
  /* OPERATIONS */

  .operations {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
  
    background-color: #fff;
  }
  
  .operations__tab-container {
    display: flex;
    justify-content: center;
  }
  
  .operations__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);
  }
  
  .operations__tab span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
  }

  
  .operations__content {
    display: none;
    font-size: 1.7rem;
    padding: 2.5rem 7rem 6.5rem 7rem;
  }
  
  .operations__content--active {
    display: grid;
    grid-template-columns: 7rem 1fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
  }
  
  .operations__header {
    font-size: 2.25rem;
    font-weight: 500;
    align-self: center;
  }
  
  .operations__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }
  
  .operations__icon svg {
    height: 2.75rem;
    width: 2.75rem;
  }
  
  .operations__content p {
    grid-column: 2;
  } 


  
  /* SIGNUP */
  .section--sign-up {
    background-color: #37383d;
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;
  }
  
  .section--sign-up .section__header {
    color: #fff;
    text-align: center;
  }
  
  .section--sign-up .section__title {
    margin-bottom: 6rem;
  }
  .section--sign-up .btn {
    font-size: 1.9rem;
    padding: 2rem 5rem;
  }
  
  .accordian{
    width: 80px;
  
   
   
  }
  .accordion-item {
    width: 70%; 
    margin-left: 15%;
    border-width: 2;
  }
  
  .accordion-body {
    max-height: 250px; 
    overflow-y: auto; 
    height: 50%;
    font-size:medium;
    font-weight: 300;
  }


.arrow-text {
  color: black;
  margin: 0;
  font-size: 24px;
}

 #faq-header{
  margin-top: 8%;
  margin-left: 15%;
  margin-bottom: 2%;
} 