
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
    color:rgb(97, 95, 95);
  }
  
  .nav.sticky {
    position: fixed;
    background-color: rgba(142, 77, 77, 0.95);
  }
  

